<h1>image has been uploaded</h1>

<%= image_tag(@image.avatar.url())  %>

<p>Search Term: <%= @image.search %></p>
<p>Name: <%= @image.name %></p>

<p>Search Term: <%= @image.search %></p>


<p>Pictures: </p>
<% @pictures.each do |pic| %>

  <%= image_tag(pic.filename) %>

<% end %>